[Unit]
Description=etv

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/jrwren/go/bin/etv
WatchdogSec=30s

[Install]
WantedBy=multi-user.target
